@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #4ABF2A;
  --color-secondary: #98D936;
  --color-tertiary: #A7F2E4;
  --color-red: #ff5252;
  --color-light: #F2ECE4;
  --color-dark: #01261C;
}

* {
  font-family: "Inter", sans-serif;
  color: #50514f;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
